.box {
    display: flex;
    width: 100%;
    height: 100%;


}

.leftside {
    flex: left;
    width: 50%;
    margin-left: 0 px;
    align-items: center;

    background-color: #E5E5E5;
    height: 100vh;


}

.rightside {
    flex: right;
    width: 50%;
    margin-right: 0 px;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-image: url("Original Photo.jpg");
    background-size: 100vh 60vw;
    background-position: absolute;
    



}

.para {
    position: fixed;
    top: 30px;
    left: 30px;

}

.centre {
    position: relative;
    margin-top: 100px;
    margin-left: 29px;




}

.call {
    background-color: black;
    color: white;

}

.top {
    margin-top: 20px;
    margin-left: 150px;
    color: white;
}

.nav {
    margin-left: 30px;
}